ul{
 list-style: none;
 margin: 0;
 padding: 0;
}

.subpages{
 display: inline;
 float: left;
 margin: 20px;
}

.log{
 float: right;
 display: inline;
 margin: 20px;
}

#mainDiv{
 border: 3px solid black;
}

#cart{
 display: inline;
 float: right;
 margin: 15px;
}

#search{
 display: inline;
 float: left;
 margin: 20px;
}

input{
 width: 450px;
}
