ul{
 list-style: none;
 margin: 0;
 padding: 0;
}

.subpages{
 display: inline;
 float: left;
 margin: 20px;
 font: 17px Cochin,serif;
}

.log{
 float: right;
 display: inline;
 margin: 20px;
 font: 16px Cochin,serif;
}

#mainDiv{
 width:100%
 border: 3px solid black;
}

#cart{
 display: inline;
 float: right;
 margin: 15px;
}

#search{
 display: inline;
 float: left;
 margin: 20px;
 width: 45%;
}

input{
 width: 450px;
}

a:link{
 color: black;
 text-decoration: none;
}

a:hover{
 color:black;
 text-decoration: underline;
}

a:active{
 color:black;
 text-decoration: underline;
}

a:visted{
 color: gray;
 text-decoration: none;
}

#footer{
 height: 100px;
 width:100%;
 display: inline-flex;
 text-align: center;
 font: 14px/20px Cochin, serif;
 background: gray;
 border: 2px solid black;
}

#index{
 height:450px;
 width:100%;
 border: 2px solid black;
 border-bottom: 0px;
}

#about{
 position: absolute;
 margin: 22px;
 left: 80px;
}

#customerservice{
 position: absolute;
 margin: 22px;
 left: 250px;
}

#socialmedia{
 margin: 15px;
 position: absolute;
 right: 150px;
}


