ul{
 list-style: none;
 margin: 0;
 padding: 0;
}

.subpages{
 display: inline;
 float: left;
 margin: 20px;
 font: 17px Cochin,serif;
}

.log{
 float: right;
 display: inline;
 margin: 20px;
 font: 16px Cochin,serif;
}

#loginSignup{
 height: 60px;
 background-color: darkgray;
 border: 2px solid black;
}

#mainDiv{
 width:100%;
}

#cart{
 width: 30px;
 height: 30px;
 display: inline;
 float: right;
 margin: 15px;
}

#search{
 display: inline;
 float: left;
 margin: 20px;
 width: 45%;
}

a:link{
 color: black;
 text-decoration: none;
}

a:hover{
 color:black;
 text-decoration: underline;
}

a:active{
 color:black;
 text-decoration: underline;
}

a:visted{
 color: grey;
 text-decoration: none;
}

#footer{
 height: 100px;
 width:100%;
 display: inline-flex;
 text-align: center;
 font: 14px/20px Cochin, serif;
 background: gray;
 border: 2px solid black;
}

#lgn, #snup{
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 100px;
 font: 25px/35px Cochin,serif;
 text-align: center;
 width: 40%;
}

#cus{
 display:block;
 margin-left: auto;
 margin-right:auto;
 margin-top: 30px;
 font: 25px/35px Cochin,serif;
 text-align: center;
 width: 40%
}

.emailpassword{
 font: 18px/35px Cochin, serif;
 text-align: left;
}

#snup{
 margin-top: 50px;
}

#index{
 height:450px;
 width:100%;
 border: 2px solid black;
 border-bottom: 0px;
}

#about{
 position: absolute;
 margin: 22px;
 left: 80px;
}

#customerservice{
 position: absolute;
 margin: 22px;
 left: 250px;
}

#socialmedia{
 margin: 15px;
 position: absolute;
 right: 150px;
}

#freq,#ret,#login,#signup,
#decor,#contact,#ship,#ct{
 height: 450px;
 width: 100%;
 border: 2px solid black;
 border-bottom: 0px;
}

img.clothingurl{
 width: 260px;
}

#ct{
 height:500px;
}

.clothingmenu,.decormenu{
 font: 14px/20px Cochin, serif;
 padding: 12px;
 margin-top: 5px;
}

.navigation{
 margin: 30px;
 font: 14px/20px Cochin, serif;
}

#decortitle, #clothingtitle{
 font: 45px Cochin, serif;
 margin-left: 90px;
}

#dcr{
 margin: 20;
 border: 2px solid black;
 width: 150px;
 height: 200px;
 display: inline-flex;
}

#clth{
 margin: 20px;
 border: 2px solid black;
 width: 150px;
 height: 290px;
 display: inline-flex;
}


#faq,#returns,#shipping{
 text-align: center;
 font: 30px Cochin, serif;
}

#shippingbody,#faqbody{
 text-align: center;
 margin: 60px;
 padding-bottom: 100px;
 font: 18px Cochin, serif;
}

#returnbody{
 font: 18px Cochin, serif;
 width: 60%;
 margin-top:50px;
 margin-bottom:100px;
 margin-right:auto;
 margin-left:auto;
 border: solid black;
}

th.ret,td.ret{
 padding: 20px;
 float:left;
}

#carttitle{
 margin-left: 8%;
 font: 35px Cochin, serif;
}

th.cart{
 font: 18px Cochin, serif;
 padding-left: 50px;
 padding-right:50px;
 border-bottom: 1px solid black;
}

table#carttable{
 border: 1px solid black;
 margin-left:25%;
 padding-bottom: 150;
}

table#totaltable{
 margin-left:55%;
 margin-top: 20px;
}

#submitorder{
 margin-left: 35%;
 margin-top: 20px;
 width:35%;
 background-color: darkgray;
 font: 18px Cochin, serif;
}

th.ttheader{
 padding:5px;
 font: 16px Cochin, serif; 
 text-align: left;
}

#total{
 font: 18px Cochin, serif;
}

form{
 text-align: center;
 font: 18px Cochin, serif;
}

.forminput{
  margin: 5px;
  width: 25%;
}

#commenttext{
 padding-bottom: 100px; 
}

.submitbutton{
 width: 35%;
 background-color: darkgray;
 font: 18px Cochin, serif;
 margin-top:20;
}

#home{
 text-align:center;
}

img#homeimage {
 width: 994px;
 height: 559px;
}

#error{
text-align:center;
}
h2{
 text-align: center;
}
